.btn1 {
  background-color: blue;
  width: 80px;
  height: 50px;
  border-radius: 15px ;
}
.btn2 {
  background-color: gray;
  width: 80px;
  height: 50px;
  border-radius: 15px ;
}
.btn3 {
  background-color: #0c660c;
  width: 80px;
  height: 50px;
  border-radius: 15px ;
}
.btn4 {
  background-color: red;
  width: 80px;
  height: 50px;
  border-radius: 15px ;
}
.box1 {
  background-color: yellow;
  color: black;
  width: 55px;
  height: 23px;
  border-radius: 5px;
}
.box2 {
  background-color: skyblue;
  color: black;
  width: 28px;
  height: 23px;
  border-radius: 5px ;
}
.box3 {
  background-color: black;
  color: white;
  width: 40px;
  height: 23px;
  border-radius: 5px ;
}
