#box1 {
    background-color: teal;
    position: fixed;
    width:500px;
    height: 500px;
    left: 450px;
    top:100px;
}
#form {
    position: fixed;
    top: 150px;
    left: 550px;
}

#user_name,#user_password,#user_email {
   
    width: 300px;
    height:40px ;
   
}