.box1 {
    width: 260px;
    height: 260px;
    background-color:goldenrod;
    border-radius: 100%;
    border: 10px dashed rgb(88, 67, 12);
    box-shadow: 0 0 10px 10px;
}
.box2 {
    width: 350px;
    height: 350px;
}
#picture {
    border-radius: 100%;
    width:170px ;
    height:170px ;
    margin-top: 30px;

}
#box {
    width: 600px;
    height: 600px;
    background-color:rgb(128, 128, 128);
}
.box3 { 
    width: 260px;
    height: 260px;
    background-color:goldenrod;
    border-radius: 100%;
    border: 10px dashed rgb(88, 67, 12);
    box-shadow: 0 0 10px 10px;
}