#box1 {
    background-color: rgb(56, 52, 52);
    color: rgb(43, 40, 40);
    height: 300px;
    width: 100%;
}
#box1_1 {
    background-color: #16cfc1;
    width:350px ;
    height: 60px;
    margin-left: 200px;
    margin-top: 140px;
}
#box1_2 {
    background-color: white;
    width:780px ;
    height: 60px;
    margin-left: 550px;
    margin-top: -76px;
}
#box1_3 {
    background-color:rgb(41, 38, 38) ;
    width:1130px ;
    height: 60px;
    margin-left: 200px;
    margin-top: -135px;
}
#box2 {
    background-color: rgb(167, 161, 161);
    height: 4500px;
    width: 100%;
}
#box2_1 {
    background-color:rgb(218, 210, 210) ;
    width: 350px;
    height: 100%;
    margin-left: 200px;
}
#box2_1_1 {
    background-color: white;
    width:300px ;
    height:30px ;
    position: relative;
    top: 20px;
    left: -15px;
}
#box2_2 {
    background-color:whitesmoke ;
    width: 780px;
    height: 100%;
    margin-left: 550px;
    margin-top: -4500px;
}
